    .form-group-register {  
        display: flex;
        padding-top: 635px;
    }
    #_form_1_ {
        position: fixed;
        z-index: 10000000;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 400px;
        max-width: calc(100% - 40px);
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #_form_1_._form-top {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #_form_1_._form-bottom {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #_form_1_._form-left {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    #_form_1_ {
        font-size: 14px;
        line-height: 1.6;
        font-family: arial, helvetica, sans-serif;
        margin: 0;
    }
    
    #_form_1_ * {
        outline: 0;
    }
    
    ._form_hide {
        display: none;
        visibility: hidden;
    }
    
    ._form_show {
        display: block;
        visibility: visible;
    }
    
    #_form_1_._form-top {
        top: 0;
    }
    
    #_form_1_._form-bottom {
        bottom: 0;
    }
    
    #_form_1_._form-left {
        left: 0;
    }
    
    #_form_1_._form-right {
        right: 0;
    }
    
    #_form_1_ input[type="text"],
    #_form_1_ input[type="tel"],
    #_form_1_ input[type="date"],
    #_form_1_ textarea {
        padding: 6px;
        height: auto;
        border: #979797 1px solid;
        border-radius: 4px;
        color: #000 !important;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #_form_1_ textarea {
        resize: none;
    }
    
    #_form_1_ ._submit {
        -webkit-appearance: none;
        cursor: pointer;
        font-family: arial, sans-serif;
        font-size: 14px;
        text-align: center;
        background: #004CFF !important;
        border: 0 !important;
        -moz-border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        border-radius: 4px !important;
        color: #FFFFFF !important;
        padding: 10px !important;
    }
    
    #_form_1_ ._submit:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    #_form_1_ ._submit:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    #_form_1_ ._submit.processing {
        position: relative;
    }

    #_form_1_ ._submit.processing::before {
        content: "";
        width: 1em;
        height: 1em;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        border: double 3px transparent;
        border-radius: 50%;
        background-image: linear-gradient(#004CFF, #004CFF), conic-gradient(#004CFF, #FFFFFF);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation: 1200ms ease 0s infinite normal none running _spin;
    }

    #_form_1_ ._submit.processing::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #004CFF !important;
        border: 0 !important;
        border-radius: 4px !important;
        color: #FFFFFF !important;
        padding: 10px !important;
    }

    @keyframes _spin {
        0% {
            transform: translate(-50%, -50%) rotate(90deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(450deg);
        }
    }

    #_form_1_ ._close-icon {
        cursor: pointer;
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
        background-repeat: no-repeat;
        background-size: 14.2px 14.2px;
        position: absolute;
        display: block;
        top: 11px;
        right: 9px;
        overflow: hidden;
        width: 16.2px;
        height: 16.2px;
    }

    #_form_1_ ._form-body {
        margin-bottom: 30px;
    }

    #_form_1_ ._form-image-left {
        width: 150px;
        float: left;
    }

    #_form_1_ ._form-content-right {
        margin-left: 164px;
    }

    #_form_1_ ._form-branding {
        color: #fff;
        font-size: 10px;
        clear: both;
        text-align: left;
        margin-top: 30px;
        font-weight: 100;
    }

    #_form_1_ ._form-branding ._logo {
        display: block;
        width: 130px;
        height: 14px;
        margin-top: 6px;
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
        background-size: 130px auto;
        background-repeat: no-repeat;
    }

    #_form_1_ ._form-label,
    #_form_1_ ._form_element ._form-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    #_form_1_ ._form_element {
        position: relative;
        margin-bottom: 10px;
        font-size: 0;
        max-width: 100%;
    }

    #_form_1_ ._form_element * {
        font-size: 14px;
    }

    #_form_1_ ._form_element input[type="text"],
    #_form_1_ ._form_element input[type="date"],
    #_form_1_ ._form_element select,
    #_form_1_ ._form_element textarea:not(.g-recaptcha-response) {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-family: inherit;
    }

    #_form_1_ ._field-wrapper {
        position: relative;
    }

    #_form_1_ ._error {
        display: block;
        position: absolute;
        font-size: 14px;
        z-index: 10000001;
    }

    #_form_1_ ._error._above {
        padding-bottom: 4px;
        bottom: 39px;
        right: 0;
    }

    #_form_1_ ._error._below {
        padding-top: 8px;
        top: 100%;
        right: 0;
    }

    #_form_1_ ._error-inner {
        padding: 12px 12px 12px 36px;
        background-color: #FFDDDD;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM9 3V9H7V3H9ZM9 13V11H7V13H9Z' fill='%23CA0000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 12px center;
        font-size: 14px;
        font-family: arial, sans-serif;
        font-weight: 600;
        line-height: 16px;
        color: #000;
        text-align: center;
        border-radius: 4px;
    }

    @media only screen and (max-width: 319px) {
        #_form_1_ ._error-inner {
            padding: 7px 7px 7px 25px;
            font-size: 12px;
            line-height: 12px;
            background-position: 4px center;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    #_form_1_ ._form-thank-you {
        position: relative;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 18px;
    }

    #_form_1_ ._form-thank-you ._form-thank-you-inner {
        padding: 12px 12px 12px 36px;
        background-color: #E8F4FF;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.00001 0C3.58172 0 0.0000152588 3.58172 0.0000152588 8C0.0000152588 12.4183 3.58172 16 8.00001 16C12.4183 16 15.9999 12.4183 15.9999 8C15.9999 3.58172 12.4183 -2.38419e-07 8.00001 -2.38419e-07ZM11.7071 5L7.70711 9L4.29289 5L5.70711 3.58579L7.70711 5L10.2929 2.41421L11.7071 5ZM7.70711 10L4.29289 14L5.70711 15.4142L7.70711 13L10.2929 15.5858L11.7071 13L7.70711 10Z' fill='%23004CFF'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center left;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: #000;
        text-align: center;
        border-radius: inherit;
    }
    @media only screen and (max-width: 319px) {
        #_form_1_ ._form-thank-you ._form-thank-you-inner {
            padding: 7px 7px 7px 25px;
            font-size: 12px;
            line-height: 12px;
            background-position: 4px center;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
        background-repeat: no-repeat;
        background-size: 14.2px 14.2px;
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close:hover {
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close:active {
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close:focus {
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close:focus-visible {
        background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close:focus-visible {
        outline: none;
    }
    #_form_1_ ._form-thank-you ._form-thank-you-inner ._form-thank-you-close:focus {
        outline: none;
    }